@value colorBlue,colorWhite,colorDarkGray,colorDimGray,colorLightGray,colorBlack from "../../common/color.css";

.container {
  margin-top: 5em;
  padding: 5em 0;
  text-align: center;
  color: colorBlack;
  max-width: 90rem;
  margin: auto;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 3em;
}
