@value colorBlue,colorWhite,colorDarkGray,colorDimGray,colorLightGray,colorBlack from "../../common/color.css";

.container {
  height: 100vh;
  margin-top: 5em;
  padding: 0.5em 0;
  text-align: center;
  color: colorBlack;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 3em;
}
