@value colorBlue from "../../common/color.css";

.btn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  font-size: 2rem;
  border-radius: 50%;
  color: colorBlue;
  border: 1.2px solid colorBlue;
  cursor: pointer;
  transition: all ease 300ms;
  width: 3rem;
  height: 3rem;
  padding: 0.2em;
}

.invisible {
  display: none;
}
