@value colorLightYellow,colorWhite,colorDarkGray,colorDimGray,colorLightGray,colorBlack from "../../common/color.css";

.container {
  position: relative;
  width: 20rem;
  height: 18rem;
  margin-bottom: 2em;
}

.container:hover .metadata {
  transform: none;
  opacity: 1;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

.metadata {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: colorBlack;
  background-color: colorLightYellow;
  transform: translateY(20px);
  opacity: 0;
  transition: all 500ms ease;
}

.title {
  font-size: 1.3rem;
  margin: 0.2em;
}

.title::after {
  content: " ";
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 0.1em;
  background-color: colorBlack;
  height: 1.7px;
}

.text {
  font-size: 1.2rem;
}
