@value colorBlue,colorDarkBlue from "../../common/color.css";
@value mediaQuery from "../../common/size.css";
.container {
  margin-top: 5em;
  padding: 5em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.message {
  font-size: 1.2rem;
  margin: 4em 0;
}

.stacks {
  margin: auto;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 4em;
  padding-left: 0;
}

.stack {
  font-size: 1.3rem;
}

.icon {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: colorBlue;
  transition: all ease 500ms;
  width: 15rem;
  height: 15rem;
  border: 2px solid colorBlue;
  border-radius: 50%;
}

.icon:hover {
  color: colorDarkBlue;
  transform: rotate(30deg);
  border-color: colorDarkBlue;
}

.degree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.metadata {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: mediaQuery) {
  .stacks {
    flex-direction: column;
    align-items: center;
  }

  .message {
    font-size: 0.9rem;
    margin-bottom: 4em;
  }
}
