@value colorDarkBlue,colorWhite,colorDarkGray,colorDimGray,colorLightGray,colorBlack from "../../common/color.css";

.container {
  height: 80vh;
  margin-top: 5em;
  padding: 0.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colorDarkBlue;
  color: colorWhite;
}

.title {
  font-size: 3.5rem;
  margin: 0.2em;
}

.email {
  font-size: 1.5rem;
}

.btn {
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  color: colorWhite;
}

.right {
  font-size: 1.2rem;
}
