@value colorDarkBlue,colorWhite from "../../common/color.css";
@value mediaQuery from "../../common/size.css";

.btn {
  padding: 0.5em 1em;
  font-size: 1.3rem;
  margin-right: 1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorWhite;
  border: 1px solid transparent;
  border-radius: 0.5em;
  transition: all ease 300ms;
}

.btn:hover {
  border-color: colorWhite;
  background-color: colorWhite;
  color: colorDarkBlue;
}

.btn.active {
  border-color: colorWhite;
  background-color: colorWhite;
  color: colorDarkBlue;
}

@media screen and (max-width: mediaQuery) {
  .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
