@value colorDarkBlue,colorWhite from "../../common/color.css";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: colorDarkBlue;
  height: 5rem;
  display: flex;
  color: colorWhite;
}

.logoAndTitle {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-left: 4em;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1em;
}

.title {
  font-size: 1.5rem;
}

.btns {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 1em;
}

.btn {
  padding: 0.5em 1em;
  font-size: 1.3rem;
  margin-right: 1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: colorWhite;
  border: 1px solid transparent;
  border-radius: 0.5em;
  transition: all ease 300ms;
}

.btn:hover {
  border-color: White;
  background-color: White;
  color: colorDarkBlue;
}
